// 外边距
.margin-top-10
  margin-top 10px
.margin-bottom-10
  margin-bottom 10px
.margin-left-10
  margin-left 10px
.margin-right-10
  margin-right 10px

.margin-top-20
  margin-top 20px
.margin-bottom-20
  margin-bottom 20px
.margin-left-20
  margin-left 20px
.margin-right-20
  margin-right 20px

// 面包屑导航
breadcrumb()
  .el-breadcrumb
    height 50px
    width 100%
    padding-top 18px
    box-sizing border-box

// 清除浮动
clearFloat()
  &::after
    content ''
    display block
    clear both
    height 0
    width 0
    visibility hidden
    margin-bottom 100px
