// 定义颜色规范
$color-white = #FFF
$color-white-s = #FAFAFA
$color-white-m = #F5F5F5
$color-white-l = #F8F8F8
$color-white-ll = #F1F1F1
$color-white-3l = #EEE
$color-white-4l = #E5E5E5

$color-black = #000
$color-black-s = #D7D7D7
$color-black-m = #CCC
$color-black-l = #999
$color-black-ll = #888
$color-black-3l = #666
$color-black-4l = #3B3B3B
$color-black-5l = #333

$color-red = #FF4500
$color-orange = #FA8341
$color-theme = #09C762
$color-theme-highlight = #1E9246

// 字体规范
$font-size-small = 10px
$font-size-small-x = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-number = 30px
$font-size-number-x = 36px

